<section class='banner'>  
  <div class='container banner_content'> 
    <div class="row">
      <div class="col-md-8">
        <div class="banner_content_inner">
          <h1>Providing seamless communication between parents and school community</h1>
          <%= link_to "Get Started Free Today", new_school_path, :class => 'btn btn-default btn_get_started' %>
          <%= link_to '#', :class => 'btn btn_watch_video' do %>
            <span class='glyphicon glyphicon-facetime-video'></span> Watch Video
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features">
  <div class="container services-container">
    <div class="row services_row">
      <div class="col-md-6 text-center">
        <%= image_tag 'school.jpg', :class => 'img-services' %>
      </div>
      <div class="col-md-6 text-center">
        <h3>For Schools</h3>
        <hr class="primary-small">
        <p class="text-muted p-services">Manage your classrooms, schedule events, stay in touch with parents, and many more..</p>
        <%= link_to 'Read More', '#', :class => 'btn btn-default' %>
      </div>
    </div>
    <div class='row services_row'>
      <div class="col-md-6 text-center">
        <h3>For Parents</h3>
        <hr class="primary-small">
        <p class="text-muted p-services">Get your child's daily activity, able to communicate with teachers, and many more..</p>
        <%= link_to 'Read More', '#', :class => 'btn btn-default' %>
      </div>
      <div class="col-md-6 text-center">
        <%= image_tag 'parents.jpg', :class => 'img-services' %>
      </div>
    </div>
    <div class='row services_row'>
      <div class="col-md-6 text-center">
        <%= image_tag 'student.jpg', :class => 'img-services' %>
      </div>
      <div class="col-md-6 text-center">
        <h3>For Students</h3>
        <hr class="primary-small">
        <p class="text-muted p-services">Check class activities, scheduled events, and many more..</p>
        <%= link_to 'Read More', '#', :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</section>
<section class="owl-carousel">
  <div><%= link_to image_tag('misc2.jpg'), '#' %></div>
  <div><%= link_to image_tag('misc4.jpg'), '#' %></div>
  <div><%= link_to image_tag('misc3.jpg'), '#' %></div>
</div>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p> That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div> 
    </div>
    <div class="row row-contact">
                 
      <div class="col-lg-4 col-sm-6">
        <div class="column4">
          <span class="icon"><i class="glyphicon glyphicon-home"></i></span>
          <span class="title">Mail</span>
          <p>5131 Post Rd <br>Dublin, OH 43016</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="column4">
          <span class="icon"><i class="glyphicon glyphicon-envelope"></i></span>
          <span class="title">Email</span>
          <p><a href="mailto:schoolapp@dsiginc.com">schoolapp@dsiginc.com</a></p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="column4">
          <span class="icon"><i class="glyphicon glyphicon-earphone"></i></span>
          <span class="title">Contact</span>
          <p>(614).932.1458</p>
        </div>
      </div>
    </div>
  </div>
</section>       