<% provide(:title, "Teachers") %>

<% if session[:role_type] == "Admin" %>
  <div class="page-breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to 'Home', new_activity_path %>
      </li>
      <li class="active"><%= link_to 'Manage Teachers', '#' %></li>
    </ul>
  </div>
  <!-- Page Header -->
  <div class="page-header position-relative">
    <div class="header-title">
      <h1><%= yield(:title) %></h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
      <a class="sidebar-toggler" href="#">
        <i class="fa fa-arrows-h"></i>
      </a>
      <a class="refresh" id="refresh-toggler" href="">
        <i class="glyphicon glyphicon-refresh"></i>
      </a>
      <a class="fullscreen" id="fullscreen-toggler" href="#">
        <i class="glyphicon glyphicon-fullscreen"></i>
      </a>
    </div>
    <!--Header Buttons End-->
  </div>
  <!-- /Page Header -->
<% else %>

<% end %>

<div class="page-body">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="widget">
        <div class="widget-header bordered-bottom bordered-blue">
          <span class='widget-caption'>Teacher's List</span>
          <div class="widget-buttons custom-widget-buttons">
            <!-- <button type="button" class="btn btn-default" onclick="manageTeacher('new')">Add Teacher</button> -->
            <a href="#" data-toggle="maximize">
              <i class="fa fa-expand"></i>
            </a>
            <a href="#" data-toggle="collapse">
              <i class="fa fa-minus"></i>
            </a>
          </div>
        </div>
        <div class="widget-body">
          <table id="teacherDataTable" class="table table-striped table-bordered table-hover">
            <thead>
              <tr role="row">
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @school_users.each do |school_user| %>
                <tr id="<%= school_user.id %>">
                  <td><%= school_user.first_name %></td>
                  <td><%= school_user.last_name %></td>
                  <td><%= school_user.email_id %></td>
                  <td><%= school_user.contact %></td>
                  <td class='text-center action_buttons'> 
                    <!-- <button type="button" class="btn btn-info btn-xs" onclick="manageTeacher(<%= school_user.id %>)"> Edit </button> -->
                    <%= link_to "javascript:manageTeacher(#{school_user.id});" do  %>
                      <i class='fa fa-pencil fa-2x'></i>
                    <% end %>
                    <%= link_to school_user, method: :delete, data: { confirm: 'Are you sure, all of his/her data will also be removed?' } do %>
                      <i class='fa fa-times-circle fa-2x'></i>
                    <% end %>
                    <%= link_to "javascript:addClassToTeacher('#{school_user.first_name} #{school_user.last_name}', #{school_user.id});" do %>
                      <i class='fa fa-plus-circle fa-2x'></i>
                    <% end %>
                    <%= link_to "javascript:getClasses(#{school_user.id});" do %>
                      <i class='fa fa-eye fa-2x'></i>
                    <% end %>
                    <%# <td><%= link_to 'Show', school_user ></td> %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- End div widget-body
        <%= will_paginate @school_users %> -->
      </div>
    </div>

<!-- <%= link_to 'Back To Home', {controller: "home", action: "home"} %> -->
    <script>
  
      jQuery(document).ready(function($){

        $("#dialog_teacher").hide();
        $("#dialog_add_class").hide();
        $("#dialog_get_classes").hide(); 

        // $(function() {
        //   return $("#teacherDataTable").dataTable({});
        // });    
        $("#teacherDataTable").dataTable();
      });

      function manageTeacher(teacherId){
       // console.log("In manageTeacher:" + teacherId);
        $("#btn_add_teacher").prop("disabled",false);
        $("#new_school_user")[0].reset();
        $("#lbl_success_message").html("");
        $("#lbl-error-message").hide();

        if (teacherId == 'new') {
          var title = "Add Teacher";
          $('input[id=txt_edit_or_save]').val("add");
        } else{
          var title = "Edit Teacher";
          $('input[id=school_user_first_name').val($("#"+teacherId).find("td")[0].innerText);
          $('input[id=school_user_last_name]').val($("#"+teacherId).find("td")[1].innerText);
          $('input[id=school_user_email_id]').val($("#"+teacherId).find("td")[2].innerText);
          $('input[id=school_user_contact]').val($("#"+teacherId).find("td")[3].innerText);
          $('input[id=txt_edit_or_save]').val("edit");
          $('input[id=school_user_id]').val(teacherId);
          $('input[id=school_user_school_id]').val(<%= session[:school_id] %>);
        }
        $("#dialog_teacher").dialog({
          maxHeight: 500,
          width: 570,
          title: title,
          position: { my: "center", at: "center", of: ".div-teacher-list" },
          modal: true,
          buttons: {
            Close: function() {
              $( this ).dialog( "close" );
            }
          }
        });
      };

      function addClassToTeacher(teacherName, teacherId){
        //console.log(teacherName,teacherId);
        $("#lblteacherName").html('Teacher: ' + teacherName);
        $("#classroom_school_user_id").attr("value",teacherId);
        $("#lbl_success_add_class_message").html("");
        $("#btn_add_class").prop("disabled",false);
        $('input[id=txt_edit_or_save]').val("add");
        $("#new_classroom")[0].reset();
        

        $("#dialog_add_class").dialog({
          maxHeight: 500,
          width: 670,
          title: "Add Class",
          position: { my: "center", at: "center", of: ".div-teacher-list" },
          modal: true,
          buttons: {
            Close: function() {
              $( this ).dialog( "close" );
            }
          }
        });
      };

      function getClasses(teacherId){
        $('#lbl_message_for_getclasses').html("");
        $('#tableClassList').html("");
        $.ajax({
          method: "GET",
          url: "/classrooms/getClassesForTeacher",
          data: {user_id: teacherId}
        })
        .done(function(data){
          if(data.length == 0)
          {
            $('#lbl_message_for_getclasses').html("No Classes Assigned");
          }

          $.each( data, function(index) {
            $('#tableClassList').append('<tr><td > <h4> '+data[index].class_name +'</h4> \n '+ data[index].class_level +' <i class="glyphicon glyphicon-map-marker"></i> '+  data[index].class_location+' </td></tr>');
          });

          $("#dialog_get_classes").dialog({
            maxHeight: 500,
            width: 370,
            title: "Classes Assigned",
            position: { my: "center", at: "center", of: ".div-teacher-list" },
            modal: true,
            buttons: {
              Close: function() {
                $( this ).dialog( "close" );
              }
            }
          });

        });
      };
    </script>

    <div id="dialog_teacher" >
      <%= render 'form' %>
    </div>

    <div id="dialog_add_class" >
      <%= render '/classrooms/form' %>
    </div>

    <div id="dialog_get_classes" >
      <%= render 'classeslistforuser' %>
    </div>
  </div>
</div>
 
