<% provide(:title, "Dashboard") %>
<div class="page-breadcrumbs">
  <ul class="breadcrumb">
    <li>
        <i class="fa fa-home"></i>
        <%= link_to 'Home', '#' %>
    </li>
    <!-- <li class="active"><%= @classname %></li> -->
  </ul>
</div>

<!-- Page Header -->
<div class="page-header position-relative">
    <div class="header-title">
        <h1><%= yield(:title) %></h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a class="sidebar-toggler" href="#">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" id="refresh-toggler" href="">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" id="fullscreen-toggler" href="#">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<!-- /Page Header -->

<div class="page-body">
  <div class="row">

    <div class="col-lg-12 col-sm-12 col-sm-12"> <!-- div main-->

      <div class ="row"> <!-- div main row-->
        <% if session[:role_type] == "Teacher" || session[:role_type] == "Admin" %>
          <%= render 'form' %>
        <% end %>
          
        <% if session[:role_type] == "Teacher" %>
          <div class="col-lg-6 col-sm-6 col-sm-6 list-box">
              <!-- Widget to display list of classes for teacher-->
            <div class="widget-header  widget-for-user">
              <div class="profile__image">
                <a href="#"><%= session[:initials] %></a>
              </div>
            </div>


            <div class="widget-body widget-classes-body">
                <div class="row row-specs-header"> 
                  <span class="caption-align-center">Actions </span> 
                </div>
                  
                <div class="row">
                  <div class="col-sm-6 col-user-specs">
                    <a href='/students?classroomId=<%= @classroom_id %>&classname=<%= @classname %>'>
                    <span class="menu-text"> Manage students </span></a>
                  </div>
                </div>
            </div>
          </div>
        <% end %>

      </div> <!-- EOF div main row-->

      <div id="avtivities" class="row" >
         <%= render 'activity' %>
      </div>
        
      <div class="row">
        <%= will_paginate @activities%>  
      </div>
    </div> <!-- EOF div main-->
  </div>
</div>


<!-- <div id="divChat">
<%#= render 'message', locals: {activities: @activitiesNew} %>
</div>
<%#= link_to 'Back', {controller: "home", action: "home"} %> -->